<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>

			<class name="AgentsWebItalyTestCasesAllBrowsers.IT_Web_Agent_Money_Transfer_with_New_Sender_Transfer_Cancel_ImmediatelyTest" />
			<class name="MultiservicesTestCasesAllBrowsers.MultiservicesInternationalMobileTopUpTest" />
			<class name="AgentsWebSpainTestCasesAllBrowsers.ES_Web_Agent_Money_Transfer_with_Existent_Sender_Data_ChangeAnd_Validate_Test" />
			<class name="AgentsWebItalyRegressionTestSuite.IT_Web_Agent_Money_Transfer_with_New_Sender_Transfer_Cancel_ImmediatelyTest" />
			<class name="AgentsWebSpainRegressionTestSuite.ES_Web_Agent_Money_Transfer_with_New_Sender_New_ReceiverTest" />
			<class name="iMoneyTransTestCasesAllBrowsers.MobileTopUpAddRecipientTest" />
			<class name="AgentsWebBelgiumTestCasesAllBrowsers.BE_Web_Agent_Money_Transfer_with_New_Sender_Add_NotesTest" />
			<class name="AgentsWebBelgiumTestCasesAllBrowsers.BelgiumLogOutTest" />
			<class name="LoginAndLogOutTestsAllApplications.ItalyInvalidLoginTest" />
			<class name="AgentsWebItalyTestCasesAllBrowsers.IT_Web_Agent_Money_Transfer_with_New_Sender_Pay_With_Existent_ReceiverTest" />
			<class name="AgentsWebItalyTestCasesAllBrowsers.IT_Web_Agent_Money_Transfer_with_Existent_Sender_Cancellation_In_Other_AgentTest" />
			<class name="AgentsWebBelgiumTestCasesAllBrowsers.BE_Web_Agent_Create_A_New_CustomerTest" />
			<class name="AgentsWebBelgiumTestCasesAllBrowsers.BelgiumInvalidLoginTest" />
			<class name="AgentsWebBelgiumTestCasesAllBrowsers.BE_Web_Agent_Money_Transfer_with_Existent_ReceiverTest" />
			<class name="iMoneyTransTestCasesAllBrowsers.MobileTopUpEditRecipientTest" />
			<class name="AgentsWebSpainTestCasesAllBrowsers.ES_Web_Agent_Create_A_New_CustomerTest" />
			<class name="AgentsWebItalyRegressionTestSuite.IT_Web_Agent_Money_Transfer_with_New_Sender_Cancellation_In_Other_AgentTest" />
			<class name="AgentsWebItalyTestCasesAllBrowsers.ItalyLoginTest" />
			<class name="AgentsWebModules.ReceiverModuleBelgium" />
			<class name="LoginAndLogOutTestsAllApplications.SpainLogOutTest" />
			<class name="LoginAndLogOutTestsAllApplications.SpainInvalidLoginTest" />
			<class name="AgentsWebSpainTestCasesAllBrowsers.ES_Web_Agent_Money_Transfer_with_New_Sender_Transfer_Add_NotesTest" />
			<class name="iMoneyTransTestCasesAllBrowsers.LoginTest" />
			<class name="AgentsWebBelgiumRegressionTestSuite.BE_Web_Agent_Money_Transfer_with_New_Sender_Cancellation_In_Other_AgentTest" />
			<class name="AgentsWebBelgiumTestCasesAllBrowsers.BE_Web_Agent_Money_Transfer_with_New_Sender_Cancel_ImmediatelyTest" />
			<class name="AgentsWebBelgiumRegressionTestSuite.BE_Web_Agent_Money_Transfer_with_Existent_ReceiverTest" />
			<class name="AgentsWebItalyRegressionTestSuite.IT_Web_Agent_Money_Transfer_with_New_Sender_And_Transfer_To_Be_PaidTest" />
			<class name="AgentsWebSpainTestCasesAllBrowsers.SpainInvalidLoginTest" />
			<class name="AgentsWebSpainRegressionTestSuite.ES_Web_Agent_Money_Transfer_with_New_Sender_Transfer_Add_NotesTest" />
			<class name="AgentsWebSpainTestCasesAllBrowsers.ES_Web_Agent_Money_Transfer_with_New_Sender_To_Be_PaidTest" />
			<class name="AgentsWebItalyTestCasesAllBrowsers.IT_Web_Agent_Money_Transfer_with_New_Sender_And_Transfer_To_Be_PaidTest" />
			<class name="AgentsWebSpainRegressionTestSuite.ES_Web_Agent_Money_Transfer_with_Existent_Sender_Data_ChangeAnd_Validate_Test" />
			<class name="AgentsWebSpainTestCasesAllBrowsers.ES_Web_Agent_Tab_ControlsTest" />
			<class name="MultiservicesTestCasesAllBrowsers.MultiservicesNationalMobileTopUpTest" />
			<class name="AgentsWebBelgiumRegressionTestSuite.BE_Web_Agent_Money_Transfer_with_New_Sender_New_ReceiverTest" />
			<class name="AgentsWebItalyTestCasesAllBrowsers.IT_Web_Agent_Money_Transfer_with_New_Sender_Cancellation_In_Other_AgentTest" />
			<class name="iMoneyTransTestCasesAllBrowsers.MoneyTransferSendMoneyWithBankDepositTest" />
			<class name="AgentsWebBelgiumRegressionTestSuite.BE_Web_Agent_Money_Transfer_with_New_Sender_And_Transfer_To_Be_PaidTest" />
			<class name="AgentsWebSpainRegressionTestSuite.ES_Web_Agent_Money_Transfer_with_New_Sender_Existent_ReceiverTest" />
			<class name="AgentsWebBelgiumTestCasesAllBrowsers.BE_Web_Agent_Money_Transfer_with_Existent_Sender_Cancellation_In_Other_AgentTest" />
			<class name="AgentsWebItalyRegressionTestSuite.IT_Web_Agent_Money_Transfer_with_Existent_Sender_Data_ChangeAnd_Validate_Test" />
			<class name="iMoneyTransTestCasesAllBrowsers.MobileTopUpFAQTest" />
			<class name="LoginAndLogOutTestsAllApplications.SpainLoginTest" />
			<class name="AgentsWebItalyTestCasesAllBrowsers.IT_Web_Agent_Create_A_New_CustomerTest" />
			<class name="AgentsWebSpainTestCasesAllBrowsers.ES_Web_Agent_Money_Transfer_with_Existent_SenderTest" />
			<class name="AgentsWebBelgiumRegressionTestSuite.BE_Web_Agent_Money_Transfer_with_New_Sender_Cancel_ImmediatelyTest" />
			<class name="AgentsWebBelgiumTestCasesAllBrowsers.BE_Web_Agent_Money_Transfer_with_New_Sender_New_ReceiverTest" />
			<class name="AgentsWebItalyTestCasesAllBrowsers.IT_Web_Agent_Money_Transfer_with_New_Sender_Add_NotesTest" />
			<class name="AgentsWebBelgiumTestCasesAllBrowsers.BE_Web_Agent_Money_Transfer_with_New_Sender_Cancellation_In_Other_AgentTest" />
			<class name="MultiservicesTestCasesAllBrowsers.MultiservicesLoginTest" />
			<class name="AgentsWebItalyRegressionTestSuite.IT_Web_Agent_Money_Transfer_with_New_Sender_Add_NotesTest" />
			<class name="MultiservicesTestCasesAllBrowsers.MultiservicesEasyBillSaleWithNewCustomerTest" />
			<class name="iMoneyTransTestCasesAllBrowsers.RepeatTransactionOnSmileAccountTest" />
			<class name="AgentsWebSpainTestCasesAllBrowsers.ES_Web_Agent_Money_Transfer_with_New_Sender_Transfer_Cancel_ImmediatelyTest" />
			<class name="AgentsWebSpainTestCasesAllBrowsers.ES_Web_Agent_Money_Transfer_with_New_Sender_Cancellation_In_Other_AgentTest" />
			<class name="iMoneyTransTestCasesAllBrowsers.RegisterTest" />
			<class name="AgentsWebItalyRegressionTestSuite.IT_Web_Agent_Money_Transfer_with_Existent_SenderTest" />
			<class name="AgentsWebSpainTestCasesAllBrowsers.SpainLogOutTest" />
			<class name="AgentsWebItalyTestCasesAllBrowsers.ItalyLogOutTest" />
			<class name="iMoneyTransTestCasesAllBrowsers.MobileTopUpDeleteRecipientTest" />
			<class name="AgentsWebSpainTestCasesAllBrowsers.SpainLoginTest" />
			<class name="AgentsWebBelgiumRegressionTestSuite.BE_Web_Agent_Money_Transfer_with_Existent_SenderTest" />
			<class name="AgentsWebItalyTestCasesAllBrowsers.IT_Web_Agent_Tab_ControlsTest" />
			<class name="iMoneyTransTestCasesAllBrowsers.LoginTestWithInvalidEmailTest" />
			<class name="AgentsWebSpainRegressionTestSuite.ES_Web_Agent_Money_Transfer_with_Existent_SenderTest" />
			<class name="AgentsWebSpainTestCasesAllBrowsers.ES_Web_Agent_Money_Transfer_with_New_Sender_Existent_ReceiverTest" />
			<class name="AgentsWebBelgiumTestCasesAllBrowsers.BE_Web_Agent_Money_Transfer_with_New_Sender_And_Transfer_To_Be_PaidTest" />
			<class name="AgentsWebItalyRegressionTestSuite.IT_Web_Agent_Money_Transfer_with_Existent_Sender_Cancellation_In_Other_AgentTest" />
			<class name="LoginAndLogOutTestsAllApplications.BelgiumLoginTest" />
			<class name="AgentsWebItalyTestCasesAllBrowsers.ItalyInvalidLoginTest" />
			<class name="LoginAndLogOutTestsAllApplications.ItalyLoginTest" />
			<class name="AgentsWebBelgiumRegressionTestSuite.BE_Web_Agent_Money_Transfer_with_Existent_Sender_Data_ChangeAnd_Validate_Test" />
			<class name="AgentsWebSpainRegressionTestSuite.ES_Web_Agent_Money_Transfer_with_New_Sender_To_Be_PaidTest" />
			<class name="AgentsWebBelgiumTestCasesAllBrowsers.BE_Web_Agent_Money_Transfer_with_Existent_SenderTest" />
			<class name="AgentsWebBelgiumTestCasesAllBrowsers.BelgiumLoginTest" />
			<class name="iMoneyTransTestCasesAllBrowsers.MoneyTransferSendMoneyWithCashPickupTest" />
			<class name="LoginAndLogOutTestsAllApplications.ItalyLogOutTest" />
			<class name="AgentsWebBelgiumTestCasesAllBrowsers.BE_Web_Agent_Money_Transfer_with_Existent_Sender_Data_ChangeAnd_Validate_Test" />
			<class name="AgentsWebItalyRegressionTestSuite.IT_Web_Agent_Money_Transfer_with_New_Sender_New_ReceiverTest" />
			<class name="AgentsWebItalyTestCasesAllBrowsers.IT_Web_Agent_Money_Transfer_with_Existent_Sender_Data_ChangeAnd_Validate_Test" />
			<class name="AgentsWebItalyTestCasesAllBrowsers.IT_Web_Agent_Money_Transfer_with_New_Sender_New_ReceiverTest" />
			<class name="LoginAndLogOutTestsAllApplications.BelgiumInvalidLoginTest" />
			<class name="AgentsWebBelgiumRegressionTestSuite.BE_Web_Agent_Money_Transfer_with_New_Sender_Add_NotesTest" />
			<class name="iMoneyTransTestCasesAllBrowsers.MobileTopUpTest" />
			<class name="AgentsWebItalyTestCasesAllBrowsers.IT_Web_Agent_Money_Transfer_with_Existent_SenderTest" />
			<class name="LoginAndLogOutTestsAllApplications.BelgiumLogOutTest" />
			<class name="AgentsWebSpainRegressionTestSuite.ES_Web_Agent_Money_Transfer_with_New_Sender_Cancellation_In_Other_AgentTest" />
			<class name="iMoneyTransTestCasesAllBrowsers.SmileAccountAddMoneyTest" />
			<class name="AgentsWebBelgiumRegressionTestSuite.BE_Web_Agent_Money_Transfer_with_Existent_Sender_Cancellation_In_Other_AgentTest" />
			<class name="MultiservicesTestCasesAllBrowsers.MultiservicesEasyBillSaleWithExistentCustomerTest" />
			<class name="AgentsWebItalyRegressionTestSuite.IT_Web_Agent_Money_Transfer_with_New_Sender_Pay_With_Existent_ReceiverTest" />
			<class name="AgentsWebBelgiumTestCasesAllBrowsers.BE_Web_Agent_Tab_ControlsTest" />
			<class name="AgentsWebSpainRegressionTestSuite.ES_Web_Agent_Money_Transfer_with_New_Sender_Transfer_Cancel_ImmediatelyTest" />
			<class name="AgentsWebSpainTestCasesAllBrowsers.ES_Web_Agent_Money_Transfer_with_New_Sender_New_ReceiverTest" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
